<div class="row">
  <div class="col-md-12 text-center">
    <p>
      Ingresar al chat con su cuenta favorita
    </p>
    <div>
    <button type="button" class="btn btn-outline-dark"
            (click)="ingresar('google')">
      Google <i class="fa-brands fa-google"></i>
    </button>
  </div>
  <div class="mt-2">
    <button type="button" class="btn btn-outline-info"
            (click)="ingresar('twitter')">
      Twitter <i class="fa-brands fa-twitter"></i>
    </button>
  </div>
  </div>
</div>